{% extends 'base.html'%}
{% load static %}
{% block content %}
  <!-- Portfolio Item Heading -->
  <h1 class="my-4">{{ video.title }}
    <small>{{ video.performer }}</small>
  </h1>

  <!-- Video Player Section -->
  <div class="row">
    <div class="col-md-8">
      {{ video.embed_link | safe }}
      <h3 class="my-4" style="float:right;">Views: {{ view_count }}</h3>
      <h3 class="my-4" style="float:left;">Recommended</h3>
    </div>

    <div class="col-md-4">
      <h3 class="my-3">Description</h3>
      <p>{{ video.description|linebreaks }}</p>

    </div>

  </div>
  <!-- /.Video Player Section -->
  <!-- Recommended section -->
  <div class="row">

    <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="#"><img class="img-fluid" src="http://placehold.it/500x300" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Tokitokimekimeki
              <small>3rd Gen</small>
            </a>
          </h4>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="#"><img class="img-fluid" src="http://placehold.it/500x300" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Nichijou
              <small>Unders</small>
            </a>
          </h4>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="#"><img class="img-fluid" src="http://placehold.it/500x300" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Against
              <small>1st Gen</small>
            </a>
          </h4>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="#"><img class="img-fluid" src="http://placehold.it/500x300" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Jiyuu no Kanata
              <small>Unders</small>
            </a>
          </h4>
        </div>
      </div>
    </div>

  </div>
  <!-- /.row Recommended Section -->

  <script>
    /* SET THIS TO EMBED CSRF TOKEN IN EACH AJAX REQUEST */
    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
              var cookie = jQuery.trim(cookies[i]);
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
              }
            }
          }
          return cookieValue;
        }
        if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
          // Only send the token to relative URLs i.e. locally.
          xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        }
      }
    });
  </script>
{% endblock %}

